.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.uk-card {height:350px;}

.bingo{
  justify-content: center;
  margin:auto !important;
  max-width:95%;
}

.uk-card-default .uk-card-header{
	border-bottom: none !important;
}